*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigaton styles */
nav{
    display: flex;
    justify-content: space-between; 
     margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
font-size: 45px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
    margin-top: 28px;
}
nav li button{
     color: white; 
    background-color: #FD6E0A;
    /* width: 150px;
height: 64px;
left: 1220px;
top: 50px; */
}
.txt-pri{
    color: #FD6E0A;
}
.header{
    background:#FFFFFF ;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* banner */

.banner{
    margin: 50px 200px;
    display: flex;
    align-items: center;
}
.bannerh{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 61px;
color: #474747;
}
.bannerb{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 116px;
color: #181818;
}
.bannerp{
    width: 585px;
height: 60px;
left: 226px;
top: 496px;
}
.bannerbtn{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
background-color: #FD6E0A;
color:  white;
padding: 10px 15px;
}

div img{
    width: 584px;
    height: 512px;
    left: 978px;
    top: 161px
}
/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* section */

.about{
     margin-top: 130px;
     background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.abouth{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
    /* padding-left: 354px;
    padding-top: 8px;
    padding-bottom: 37px; */
}

.aboutp{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #757575;
}

/* about info */

.about-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.fstp{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}
.secp{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #474747;
}